<p class="bold text-danger" *ngIf="userDet.length === 0 && !isLoading">
  No Data Available
</p>
<table
  class="table table-bordered table-striped"
  *ngIf="userDet.length > 0 && !isLoading"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Account Holder Name</th>
      <th>Account Number</th>
      <th>Card Number</th>
      <th>Account Type</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userDet; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.name | uppercase }}</td>
      <td>{{ user.accountNumber }}</td>
      <td>{{ user.cardNumber }}</td>
      <td>{{ user.type | uppercase }}</td>
      <td class="text-center">
        <a
          class="btn btn-warning"
          [routerLink]="[
            '/editdetails',
            i + 1,
            user.name,
            user.accountNumber,
            user.cardNumber,
            user.type
          ]"
          (click)="editEntry(i)"
          >Edit</a
        >
        &nbsp;
        <button class="btn btn-danger" (click)="deleteEntry(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div style="display: flex; justify-content: center;">
  <p
    style="
      text-align: center;
      font-weight: bold;
      background-color: #252525;
      color: #f7f7f7;
      padding: 10px;
      width: 150px;
      border-radius: 10px;
    "
    *ngIf="isLoading"
  >
    Loading...!!!
  </p>
</div>
