<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
        <div class="form-group">
          <label for="name">Account Holder Name</label>
          <input
            class="form-control"
            type="text"
            [(ngModel)]="newAccountName"
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
        <div class="form-group">
          <label for="accNumber">Account Number</label>
          <input
            class="form-control"
            type="text"
            id="accNumber"
            [(ngModel)]="accountNumber"
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
        <div class="form-group">
          <label for="accNumber">Card Number</label>
          <input
            class="form-control"
            type="text"
            id="accNumber"
            [(ngModel)]="cardNumber"
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
        <div class="form-group">
          <label for="accType">Account Type</label>
          <select name="typeofaccount" id="accType" class="form-control" [(ngModel)]="type">
            <option value="none">--select--</option>
            <option value="saving">Saving</option>
            <option value="current">Current</option>
          </select>
        </div>
      </div>
      <div class="move-right">
        <button class="btn btn-primary" (click)="addDetailsHandler()">
          Add Account
        </button>
      </div>
    </div>
  </div>
</div>
