<h3>This is {{ userDetails.name }}'s Account</h3>
<div class="card">
  <div class="card-body">
    <form (ngSubmit)="submitEdittedForm()" [formGroup]="editForm">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
          <div class="form-group">
            <label for="name">Account Holder Name</label>
            <input
              class="form-control"
              type="text"
              name="name"
              id="name"
              formControlName="accountHolderName"
              required
            />
            <span
              class="text-danger font-smaller"
              *ngIf="editForm.get('accountHolderName').errors?.['required']"
              >Name is not valid</span
            >
            <span
              class="text-danger font-smaller"
              *ngIf="editForm.get('accountHolderName').errors?.['minlength']"
            >
              Name should have more than 3 characters
            </span>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
          <div class="form-group">
            <label for="accNumber">Account Number</label>
            <input
              class="form-control"
              type="text"
              name="accNum"
              id="accNum"
              formControlName="accountNumber"
              required
            />
            <span
              class="text-danger font-smaller"
              *ngIf="editForm.get('accountNumber').errors?.['required']"
              >Account Number is required</span
            >
            <span
              class="text-danger font-smaller"
              *ngIf="editForm.get('accountNumber').errors?.['minlength']"
              >Account Number should be of 16 digits</span
            >
            <span
              class="text-danger font-smaller"
              *ngIf="editForm.get('accountNumber').errors?.['maxlength']"
              >Account Number should be of 16 digits</span
            >
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
          <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input
              class="form-control"
              type="text"
              name="cardNum"
              id="cardNumber"
              formControlName="cardNumber"
              required
            />
            <span
              class="text-danger font-smaller"
              *ngIf="editForm.get('cardNumber').errors?.['required']"
              >Card Number is required</span
            >
            <span
              class="text-danger font-smaller"
              *ngIf="editForm.get('cardNumber').errors?.['minlength']"
              >card Number should be of 16 digits</span
            >
            <span
              class="text-danger font-smaller"
              *ngIf="editForm.get('cardNumber').errors?.['maxlength']"
              >card Number should be of 16 digits</span
            >
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
          <div class="form-group">
            <label for="accType">Account Type</label>
            <select
              name="typeofaccount"
              id="accType"
              class="form-control"
              name="accType"
              formControlName="accountType"
              required
            >
              <option value="saving">Saving</option>
              <option value="current">Current</option>
            </select>
          </div>
        </div>
        <div class="move-right">
          <button class="btn btn-warning" [disabled]="!editForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
